


.nav-item > .nav-link{
    font-weight: 600;
    padding: 12px;
    // padding-bottom: 12px;
}
.nav-item{
    border-bottom: 3px solid #fff !important;
    margin-right: 15px;
}
.active{
    border-bottom: 3px solid rgb(198, 198, 0) !important;
}