<div class="container py-3">
  <div class="row">
    <div class="col-6">
      <div class="projec">
        <span class="h4 text-uppercase mb-3">Project</span>
        <div class="custom_select d-flex flex-column mt-4">
          <select name="" id="">
            <option value="">Market / industry</option>
            <option value="">Market / industry</option>
            <option value="">Market / industry</option>
          </select>
          <select name="" id="">
            <option value="">Electronics</option>
            <option value="">Market / industry</option>
            <option value="">Market / industry</option>
          </select>
          <select name="" id="">
            <option value="">Market / industry</option>
            <option value="">Market / industry</option>
            <option value="">Market / industry</option>
          </select>
          <div class="mt-3">
            <button class="btn bg-theme c_btn rounded-0">
              Search Projects
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="d-flex justify-content-end mt-5">
        <div class="d-flex flex-row align-items-center">
          <a href="#" class="link-primary theme mx-3"> My Projects</a>
          <button class="btn btn-warning rounded-0">Create Projects</button>
        </div>
      </div>
    </div>
  </div>
</div>
