<div class="container py-3">
  <div class="row">
    <div class="col-6">
      <div class="projec">
        <span class="h4 text-uppercase mb-3">Project</span>
        <div class="custom_select d-flex flex-column mt-4">
          <select name="" id="">
            <option value="">Market / industry</option>
            <option value="">Market / industry</option>
            <option value="">Market / industry</option>
          </select>
          <select name="" id="">
            <option value="">Electronics</option>
            <option value="">Market / industry</option>
            <option value="">Market / industry</option>
          </select>
          <select name="" id="">
            <option value="">Market / industry</option>
            <option value="">Market / industry</option>
            <option value="">Market / industry</option>
          </select>
          <div class="mt-3">
            <button class="btn bg-theme c_btn rounded-0">
              Search Projects
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="d-flex justify-content-end mt-5">
        <div class="d-flex flex-row align-items-center">
          <a href="#" class="link-primary theme mx-3"> My Projects</a>
          <a [routerLink]="['/create']" routerLinkActive="router-link-active"  class="btn btn-warning rounded-0">Create Projects</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <h5 class="theme fw-bold">
      Popular Projects
    </h5>
  </div>

  <div class="row">
    <div class="col">
      <div class="pro d-flex flex-column">
        <img src="https://picsum.photos/200" alt="" srcset="">
        <div class="desc mt-2">
          <div class="titl mb-1 d-flex flex-row justify-content-between">
            <span class="h5 fw-bold theme">Project Name</span> 
           <div>
             <span class="badge rounded-pill bg-light text-dark view">330+ Views</span>
           </div>
          </div>
          <p class="fw-bold" style="font-size:15px">Lorem Kumar  (GID)  <i class="far fa-envelope fw-bolda"></i> <i class="far fa-comment-alt mx-2"></i>   </p>
          <p>Team name :  <span class="badge rounded-pill bg-success namey">Consulting</span>     </p>
          <p>Tags: React Python   </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="pro d-flex flex-column">
        <img src="https://picsum.photos/200" alt="" srcset="">
        <div class="desc mt-2">
          <div class="titl mb-1 d-flex flex-row justify-content-between">
            <span class="h5 fw-bold theme">Project Name</span> 
           <div>
             <span class="badge rounded-pill bg-light text-dark view">330+ Views</span>
           </div>
          </div>
          <p class="fw-bold" style="font-size:15px">Lorem Kumar  (GID)  <i class="far fa-envelope fw-bolda"></i> <i class="far fa-comment-alt mx-2"></i>   </p>
          <p>Team name :  <span class="badge rounded-pill bg-success namey">Consulting</span>     </p>
          <p>Tags: React Python   </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="pro d-flex flex-column">
        <img src="https://picsum.photos/200" alt="" srcset="">
        <div class="desc mt-2">
          <div class="titl mb-1 d-flex flex-row justify-content-between">
            <span class="h6 fw-bold theme">Project Name</span> 
           <div>
             <span class="badge rounded-pill bg-light text-dark view">330+ Views</span>
           </div>
          </div>
          <p class="fw-bold" style="font-size:15px">Lorem Kumar  (GID)  <i class="far fa-envelope fw-bolda"></i> <i class="far fa-comment-alt mx-2"></i>   </p>
          <p>Team name :  <span class="badge rounded-pill bg-success namey">Consulting</span>     </p>
          <p>Tags: React Python   </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="pro d-flex flex-column">
        <img src="https://picsum.photos/200" alt="" srcset="">
        <div class="desc mt-2">
          <div class="titl mb-1 d-flex flex-row justify-content-between">
            <span class="h5 fw-bold theme">Project Name</span> 
           <div>
             <span class="badge rounded-pill bg-light text-dark view">330+ Views</span>
           </div>
          </div>
          <p class="fw-bold" style="font-size:15px">Lorem Kumar  (GID)  <i class="far fa-envelope fw-bolda"></i> <i class="far fa-comment-alt mx-2"></i>   </p>
          <p>Team name :  <span class="badge rounded-pill bg-success namey">Consulting</span>     </p>
          <p>Tags: React Python   </p>
        </div>
      </div>
    </div>
  </div>
</div>
