
$color : #000044;



.custom_select > select {
  padding: 3px 10px;
  margin-bottom: 9px;
  border: none;
  border-bottom: 1px solid black;
  color: $color;
  font-weight: 600;
}
.custom_select > select > option {
    color: $color;
    font-weight: 600;
    padding: 5px 9px;
}

.c_btn:hover {
  border: 1px solid $color;
  color: $color;
}
