<div class="container">
    <span class="h4 theme fw-bolder">
        My Projects
    </span>
    <div class="row">
        <div class="col">
            <div class="w-100">
                <table class="  w-100">
                    <thead>
                        <th>Project Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>last Edited</th>
                        <th>Status</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr>
                        <td><div>
                            test
                        </div></td>
                        <td>lorem</td>
                        <td>lorem</td>
                        <td>lorem</td>
                        <td>lorem</td>
                        <td>lorem</td>
                    </tr>
                    <tr>
                        <td>lorem</td>
                        <td>lorem</td>
                        <td>lorem</td>
                        <td>lorem</td>
                        <td>lorem</td>
                        <td>lorem</td>
                    </tr>
                    <tr>
                        <td>lorem</td>
                        <td>lorem</td>
                        <td>lorem</td>
                        <td>lorem</td>
                        <td>lorem</td>
                        <td>lorem</td>
                    </tr>
                    <tr>
                        <td>lorem</td>
                        <td>lorem</td>
                        <td>lorem</td>
                        <td>lorem</td>
                        <td>lorem</td>
                        <td>lorem</td>
                    </tr> 
                    </tbody>
                   
                </table>
            </div>
        </div>
    </div>
</div>