/* You can add global styles to this file, and also import other style files */
$color : #000044;
$yel :  rgb(208, 191, 0);;
.f-48{
    font-size: 48px;
}
.theme{
    color: $color;
}
.theme-y{
    color: $yel;
}
.bg-theme{
    background-color: $color;
    color: #fff;
}