.main {
  background-image: url(../../assets/bg.jpg);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}
.select > i {
  color: #f9ff7f;
}
.select > select {
  background: none;
  width: 100%;
  color: #fff;
  padding: 4px 27px;
  border: 2px solid;
}
.select > select > option {
  background: #fff;
  width: 100%;
  color: rgb(0, 0, 0);
 padding: 3px 30px;
}
.select > select > option:hover {
  background: rgba(255, 255, 255, 0);
  
}

.main-left > p {
    line-height: 2;
    word-spacing: 3px;
}