.main {
  background-image: url(../../assets/bg.jpg);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}
.select > i {
  color: #f9ff7f;
}
.select > select {
  background: none;
  width: 100%;
  color: #fff;
  padding: 4px 27px;
  border: 2px solid;
}
.select > select > option {
  background: #fff;
  width: 100%;
  color: rgb(0, 0, 0);
 padding: 3px 30px;
}
.select > select > option:hover {
  background: rgba(255, 255, 255, 0);
  
}

.main-left > p {
    line-height: 2;
    word-spacing: 3px;
}
.middle-item > h4{
  font-size: 16px;
}
.middle-item > p{ 
font-size: 12px;
}
.testmonila{
  background-color: #f6faff;
}

.content > p {
  line-height: 30px;
}

.charv{
  background: yellow;
    padding: 14px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    color: #070764;
}

.person > p {
  font-size: 18px;
  font-weight: 600;
}
.person > span {
  font-size: 14px;
  padding-bottom: 5px;
}

.person > i {
  font-size: 26px;
}