<div class="container">
    <div class="row">
        <div class="d-flex align-items-center">

            <span class="h3 mb-0 theme fw-bolder text-uppercase">
                Project Details
            </span>
            <span class="badge rounded-pill bg-success mx-3">Internal</span>
            <span class="badge rounded-pill bg-info mx-3">Approval</span>
        </div>
    </div>


    <div class="row mt-4">
        <div class="col-12 col-sm-6">
            <table>
                <tr>
                    <td> Advanta team :</td>
                    <td>Lorem, ipsum dolor.</td>
                </tr>
                <tr>
                    <td> USP :</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident ea labore deleniti alias in
                        perferendis fuga excepturi sapiente laborum commodi? Commodi, dolor soluta.</td>
                </tr>
                <tr>
                    <td> Contact Point :</td>
                    <td>Person 1</td>
                </tr>
                <tr>
                    <td> Project status :</td>
                    <td>2/2/2023 To 2/3/2023</td>
                </tr>
                <tr>
                    <td> Relavant links :</td>
                    <td>React, Pyhton, AWS</td>
                </tr>
            </table>
        </div>

        <div class="col-12 col-sm-6">
            <div class="d-flex flex-column">
                <div class="text-sm-end text-center">
                    <img src="https://picsum.photos/300/180" alt="" srcset="">
                </div>
                <div class="text-sm-end text-cente my-2">
                    <button class="btn btn-warning theme rounded-0">
                        View project file
                    </button>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p class="theme fw-bold mb-1">Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit doloribus ratione cumque rem nemo! Eveniet, doloribus quae! Est placeat in commodi ullam cupiditate praesentium laboriosam quibusdam inventore iure repellat nihil aspernatur error tenetur ea, totam unde eaque id amet nostrum omnis numquam porro illum! Nesciunt dolorum voluptate minus consectetur saepe.</p>
            <p class="theme fw-bold mt-2 mb-1">Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit doloribus ratione cumque rem nemo! Eveniet, doloribus quae! Est placeat in commodi ullam cupiditate praesentium laboriosam quibusdam inventore iure repellat nihil aspernatur error tenetur ea, totam unde eaque id amet nostrum omnis numquam porro illum! Nesciunt dolorum voluptate minus consectetur saepe.</p>
        </div>
    </div>
</div>